{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "plugins": [
    "es6-promise",
    "transform-array-from",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-es2015-spread",
    "transform-object-rest-spread",
    [
      "import",
      {
        "libraryName": "antd-mobile",
        "style": "css"
      }
    ]
  ],
  "ignore": [
  ]
}
